a {
	text-decoration:none;
}

a, a:visited {
	color:#00F2FF;
}

a:hover {
	color:#005EFF;
}

header{
	margin-top:0px;
	height:90px;
	line-height: 90px;
}

header h1 {
	font-family: 'Permanent Marker', cursive;
}

ul, li {
	list-style:none;
	padding-left:0px;
	padding-top:5px;
}

.login-button {
	border-bottom: 1px solid #5bc1ff;
	border-left: 1px solid #5bc1ff;
	border-right: 1px solid #5bc1ff;
	border-top:none;
	 border-radius:0px 0px 5px 5px
}

#container{
	width:80%;
	margin: 0 auto;
}

#sidebar-left{
	width: 20%;
	float:left;
}

#main-content{
	width: 50%;
	float:left;
	line-height: 20px;
}

#main-content > h1 {
	font-family: 'Permanent Marker', cursive;
	margin-top:0px;
	margin-bottom:20px;
}

#sidebar-right{
	height:auto;
	width: 20%;
	float:right;
}

footer {
	margin-top:25px;
	text-align: center;
	width: 100%;
	border-top: 1px solid #5bc1ff;
	background-color: rgba(30, 30, 30,0.5);
	padding-top: 15px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 0px;
	position:absolute;
	bottom:0;
}

#dlc {
	float:left;
	margin-bottom:25px;
}

#dlc > h1 {
	font-size:3em;
	text-shadow:2px 2px 3px #5bffe9;
}
#dlc > p {
	line-height:20px;
	margin-top:-20px;
	margin-left:20px;
	text-shadow:1px 1px 1px #5bffe9;
}



#login-button  {
	float:right;
    background-color: #9D9D9D;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    z-index: 99999;
}

#login-button:hover {
    background-color: #6f6f6f;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
	cursor:pointer;
}

#clear{
	content: "";
	display: table;
	clear: both;
}

.login-form-wrap {
	width: 100%;
  	background-color: #1e1e1e;
  	display: none;
  	border-bottom: 1px solid #5bc1ff;
}

.login-form-container {
	width: 800px;
	margin: 0 auto;
	line-height: 80px;
	overflow: hidden;
}
#login-form > p{
	line-height: 10px;
	size:10pt;
	position:relative;
}

#login-form-dropdown {
	height:100px;
	width:100%;
	margin: 0 auto;
	text-transform: Uppercase;
	text-align:center;
	z-index: 88;
}

#login-form input {
	height: 40px;
	line-height: 40px;
	border: none;
	border-bottom: 2px solid #5bc1ff;
	background: transparent;
	padding: 0 10px;
	margin-right: 5px;
	color:#9d9d9d;
}

#login-submit{
	height: 40px;
	width:60px;
	background-color:transparent;
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom: 2px solid #5bc1ff;
	color:#9d9d9d;
	cursor:pointer;
}

::placeholder {
    color: #9d9d9d;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #9d9d9d;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: #9d9d9d;
}

.register-form-wrap {
	width: 100%;
  	background-color: #1e1e1e;
  	display: none;
  	border-bottom: 1px solid #5bc1ff;
}

.register-form-container {
	width: 800px;
	margin: 0 auto;
	line-height: 80px;
	overflow: hidden;
}

#register-form-dropdown {
	height:500px;
	width:100%;
	margin: 0 auto;
	text-transform: Uppercase;
	text-align:center;
	z-index: 88;
}

#register-form input {
	height: 40px;
	line-height: 40px;
	border: none;
	border-bottom: 2px solid #5bc1ff;
	background: transparent;
	padding: 0 10px;
	margin-right: 5px;
	color:#9d9d9d;
	
}

#register-form select {
	height: 40px;
	line-height: 40px;
	border: none;
	border-bottom: 2px solid #5bc1ff;
	background: transparent;
	padding: 0 10px;
	margin-right: 5px;
	color:#9d9d9d;
}

#register-form select option {
	height: 40px;
	line-height: 40px;
	border: none;
	border-bottom: 2px solid #5bc1ff;
	background-color:#1e1e1e;
	padding: 0 10px;
	margin-right: 5px;
	color:#9d9d9d;
}


#register-submit{
	height: 40px;
	width:60px;
	background-color:transparent;
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom: 2px solid #5bc1ff;
	color:#9d9d9d;
	cursor:pointer;
}

table {
	border-collapse: collapse;
}

#users-table {
	
}

#users-row {
	border-bottom: 1px solid #000;
}

#users-table tr {
	background-color: rgba(50, 50, 50,0.5);
}

#users-table  tr:nth-child(1) {
	background-color:#21213d;
}

#users-table  tr:nth-child(even) {
	background-color: rgba(100, 100, 100,0.5);
}

#users-cell {
	border-bottom: 1px solid #000;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
	margin:0 0;
}